<!--=========== Banner-sections=========== -->
<section class="homepage_new_banner">
  <div class="banner_inside all_width_80">
    <div class="transforming_ideas">
      <div class="thesis_head">
        <h3 class="typewriter">Get 1 On 1 Web Hosting</h3>
      </div>
      <div class="thesis_writing">
        <p>All Plans</p>
        <p>
          <a href="#">Yearly-Plan</a><span class="Line_text">|</span>
          <a href="#">Half-Yearly</a><span class="Line_text">|</span>
          <a href="#">Quarterly-Plan</a><span class="Line_text">|</span>
          <a href="#">Monthly</a>
        </p>
      </div>
      <div class="thesis_writing">
        <p>Best Pricing's</p>
        <p><a href="#">Customer Support</a></p>
        <p><a href="#">100% Certified</a></p>
      </div>
      <div class="thesis_writing">
        <p><a href="#"> Powerful Brand's</a></p>
        <p>Narrative ideas</p>
      </div>
      <div class="thesis_writing">
        <button>Feel Free To Contact Us</button>
      </div>
    </div>
    <div class="transforming_ideas"></div>
  </div>
</section>

<!--============ whatsapp-icons=============== -->
<div class="whatsapp_icon">
  <a href="#">
    <i class="fa fa-whatsapp"></i>
  </a>
</div>

<!-- ================Our-Pricings================= -->

<!-- ================Our-Pricings================= -->
<section class="our_pricing">
    <div class="all_pricing">
      <div class="boxes">
        <div class="main_box">
          <img
            src="https://tse4.mm.bing.net/th?id=OIP.7GQHNA80V48QAiFSRGqllwAAAA&pid=Api&P=0&h=180"
            width="100%"
            alt=""
            class="image_one"
          />
          <img
            src="https://tse3.mm.bing.net/th?id=OIP.naYq02UvwDBDJOMm_PBi7wHaHa&pid=Api&P=0&h=180"
            width="100%"
            alt=""
            class="image_two"
          />
          <div class="bottm_slide"></div>
        </div>
        <h2>Pricing starts at&nbsp;<span class="rate">2999</span></h2>
        <p>Lorem, ipsum dolor.</p>
      </div>
      <div class="boxes">
        <div class="main_box">
          <img
            src="https://tse4.mm.bing.net/th?id=OIP.7GQHNA80V48QAiFSRGqllwAAAA&pid=Api&P=0&h=180"
            width="100%"
            alt=""
            class="image_one"
          />
          <img
            src="https://tse3.mm.bing.net/th?id=OIP.naYq02UvwDBDJOMm_PBi7wHaHa&pid=Api&P=0&h=180"
            width="100%"
            alt=""
            class="image_two"
          />
          <div class="bottm_slide"></div>
        </div>
        <h2>Pricing starts at&nbsp;<span class="rate">2999</span></h2>
        <p>Lorem, ipsum dolor.</p>
      </div>
      <div class="boxes">
        <div class="main_box">
          <img
            src="https://tse4.mm.bing.net/th?id=OIP.7GQHNA80V48QAiFSRGqllwAAAA&pid=Api&P=0&h=180"
            width="100%"
            alt=""
            class="image_one"
          />
          <img
            src="https://tse3.mm.bing.net/th?id=OIP.naYq02UvwDBDJOMm_PBi7wHaHa&pid=Api&P=0&h=180"
            width="100%"
            alt=""
            class="image_two"
          />
          <div class="bottm_slide"></div>
        </div>
        <h2>Pricing starts at&nbsp;<span class="rate">2999</span></h2>
        <p>Lorem, ipsum dolor.</p>
      </div>
      <div class="boxes">
        <div class="main_box">
          <img
            src="https://tse4.mm.bing.net/th?id=OIP.7GQHNA80V48QAiFSRGqllwAAAA&pid=Api&P=0&h=180"
            width="100%"
            alt=""
            class="image_one"
          />
          <img
            src="https://tse3.mm.bing.net/th?id=OIP.naYq02UvwDBDJOMm_PBi7wHaHa&pid=Api&P=0&h=180"
            width="100%"
            alt=""
            class="image_two"
          />
          <div class="bottm_slide"></div>
        </div>
        <h2>Pricing starts at&nbsp;<span class="rate">2999</span></h2>
        <p>Lorem, ipsum dolor.</p>
      </div>
    </div>
  </section>