<section class="create_account">
    <div class="creating_form_main">
        <div class="create_left">
            <div class="left_side_data">
                <img src="../../../../assets/image/DREAM'.png" height="150px" width="250px" class="ms-5">
                <p class="para_neo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident eaque molestias
                    quidem hic aspernatur distinctio enim animi impedit maxime beatae!</p>
                <ul class="paypal_lists">
                    <li><a href="#">#2016 Paypal</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="create_right">
            <div class="create_account_form" id="demoOne">
                <div
        *ngIf="alert"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <strong>Success!</strong> Your data has been entered successfully.
        <button
          
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
                <h2>Create and account</h2>
                <form [formGroup]="myform">
                    <div class="form_input_main">
                        <label>Username:**</label>
                        <input type="text" name="" placeholder="Enter Username" class="dark_input" autocomplete="off"
                            formControlName="Username" [class.is-valid]="f['Username'].valid"
                            [ngClass]="{ 'is-invalid': submitted && f['Username'].errors }" [maxlength]="maxInputLength">
                            <div
                            *ngIf="submitted && f['Username'].errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f['Username'].errors['required']">
                              Username is required
                            </div>
                            <div *ngIf="f['Username'].errors['minLength']">
                              Username must be at least 3 characters
                            </div>
                            <div *ngIf="f['Username'].errors['maxLength']">
                              Username must not exceed 20 characters
                            </div>
                            <div *ngIf="f['Username'].errors['pattern']">
                                Username is not valid
                              </div>
                          </div>
                    </div>
                    <div class="form_input_main">
                        <label>Email:**</label>
                        <input type="text" name="" placeholder="Enter Email" class="dark_input" autocomplete="off"[ngClass]="{ 'is-invalid': submitted && f['user_email'].errors }"
                            formControlName="user_email">
                            <div *ngIf="submitted && f['user_email'].errors" class="invalid-feedback">
                                <div *ngIf="f['user_email'].errors['required']">user_email is required</div>
                                <div *ngIf="f['user_email'].errors['pattern']">user_email is invalid</div>
                              </div>
                    </div>
                    <div class="form_input_main">
                        <label>Phone:**</label>
                        <input type="text" name="" placeholder="Enter Phone" class="dark_input" autocomplete="off"[ngClass]="{'is-invalid':submitted && f.phone_no.errors}"
                            formControlName="phone_no"  [maxlength]="phone_lenght">
                            <div *ngIf="submitted && f['phone_no'].errors" class="invalid-feedback">
                                <div *ngIf="f['phone_no'].errors['required']">phone_no is required</div>
                                <div *ngIf="f['phone_no'].errors['pattern']">phone_no is invalid</div>
                              </div>
                    </div>
                    <div class="form_input_main">
                        <label>Passowrd:**</label>
                        <input type="text" name="" placeholder="Enter Passowrd" class="dark_input" autocomplete="off"
                            formControlName="user_pass" [ngClass]="{'is-invalid':submitted && f.user_pass.errors}">
                            <div *ngIf="submitted && f['user_pass'].errors" class="invalid-feedback">
                                <div *ngIf="f['user_pass'].errors['required']">password is required</div>                                
                              </div>
                    </div>
                    <div class="form_input_main">
                        <label>Confirm Password:**</label>
                        <input type="text" name="" placeholder="Enter Repassword" class="dark_input" autocomplete="off"
                            formControlName="user_repass" [ngClass]="{'is-invalid':submitted && f.user_repass.errors}">
                            <div *ngIf="submitted && f['user_repass'].errors" class="invalid-feedback">
                                <div *ngIf="f['user_repass'].errors['required']">Confirm_password is required</div>                                
                              </div>
                    </div>
                    <div class="login_buttn">
                        <button type="button" (click)="onsubmit()">Submit</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</section>